# make class visible
public net.minecraft.world.entity.npc.VillagerTrades$ItemsForEmeralds
public net.minecraft.world.entity.npc.VillagerTrades$EmeraldForItems
public net.minecraft.world.level.levelgen.SurfaceRules$SurfaceRule
public net.minecraft.world.level.levelgen.SurfaceRules$Context
public net.minecraft.world.level.levelgen.structure.pools.JigsawPlacement$Placer
public net.minecraft.client.gui.screens.advancements.AdvancementTabType
public net.minecraft.world.level.levelgen.SurfaceRules$BlockRuleSource
public net.minecraft.world.level.biome.MultiNoiseBiomeSourceParameterList$Preset$SourceProvider
public net.minecraft.world.entity.ai.goal.RangedCrossbowAttackGoal$CrossbowState
public net.minecraft.world.item.enchantment.EnchantmentHelper$EnchantmentVisitor

public net.minecraft.client.renderer.RenderType$CompositeRenderType
public net.minecraft.client.renderer.RenderType$CompositeRenderType state # state
public net.minecraft.client.renderer.RenderType$CompositeState textureState # textureState
public net.minecraft.client.gui.screens.achievement.StatsScreen$StatisticsTab
public net.minecraft.client.particle.ParticleResources$MutableSpriteSet
public net.minecraft.client.gui.components.ImageWidget$Sprite
public net.minecraft.client.gui.components.ImageWidget$Texture

# constructor invoking
public net.minecraft.world.level.levelgen.SurfaceRules$BlockRuleSource <init>(Lnet/minecraft/world/level/block/state/BlockState;)V
public net.minecraft.client.gui.components.Tooltip <init>(Lnet/minecraft/network/chat/Component;Lnet/minecraft/network/chat/Component;)V
public net.minecraft.world.entity.ai.targeting.TargetingConditions <init>(Z)V
public net.minecraft.world.inventory.ItemCombinerMenuSlotDefinition <init>(Ljava/util/List;Lnet/minecraft/world/inventory/ItemCombinerMenuSlotDefinition$SlotDefinition;)V # ItemCombinerMenuSlotDefinition
public net.minecraft.world.level.levelgen.feature.treedecorators.TreeDecoratorType <init>(Lcom/mojang/serialization/MapCodec;)V
public net.minecraft.core.particles.ParticleType <init>(Z)V
public net.minecraft.data.recipes.ShapedRecipeBuilder <init>(Lnet/minecraft/core/HolderGetter;Lnet/minecraft/data/recipes/RecipeCategory;Lnet/minecraft/world/level/ItemLike;I)V
public net.minecraft.data.recipes.ShapelessRecipeBuilder <init>(Lnet/minecraft/core/HolderGetter;Lnet/minecraft/data/recipes/RecipeCategory;Lnet/minecraft/world/item/ItemStack;)V
public net.minecraft.world.item.component.BundleContents <init>(Ljava/util/List;Lorg/apache/commons/lang3/math/Fraction;I)V
public net.minecraft.world.level.levelgen.feature.stateproviders.SimpleStateProvider <init>(Lnet/minecraft/world/level/block/state/BlockState;)V
public net.minecraft.world.entity.ai.behavior.ShufflingList$WeightedEntry <init>(Ljava/lang/Object;I)V

# allow overriding
protected net.minecraft.world.entity.npc.villager.Villager registerBrainGoals(Lnet/minecraft/world/entity/ai/Brain;)V
protected net.minecraft.world.inventory.ItemCombinerMenu createResultSlot(Lnet/minecraft/world/inventory/ItemCombinerMenuSlotDefinition;)V
protected net.minecraft.world.inventory.ItemCombinerMenu createInventorySlots(Lnet/minecraft/world/entity/player/Inventory;)V
protected net.minecraft.world.inventory.ItemCombinerMenu createInputSlots(Lnet/minecraft/world/inventory/ItemCombinerMenuSlotDefinition;)V
protected net.minecraft.world.entity.Mob maybeDisableShield(Lnet/minecraft/world/entity/player/Player;Lnet/minecraft/world/item/ItemStack;Lnet/minecraft/world/item/ItemStack;)V
protected net.minecraft.client.gui.screens.recipebook.RecipeBookComponent updateCollections(Z)V
protected net.minecraft.world.entity.ai.sensing.VillagerHostilesSensor isClose(Lnet/minecraft/world/entity/LivingEntity;Lnet/minecraft/world/entity/LivingEntity;)Z
protected net.minecraft.world.entity.ai.sensing.VillagerHostilesSensor isHostile(Lnet/minecraft/world/entity/LivingEntity;)Z
protected-f net.minecraft.client.gui.components.AbstractSelectionList getEntryAtPosition(DD)Lnet/minecraft/client/gui/components/AbstractSelectionList$Entry;
public-f net.minecraft.world.entity.Mob getLootTable()Ljava/util/Optional; # getLootTable

# accessors - avoid using them as AT entries. Create Accessor mixins instead
public net.minecraft.client.gui.screens.Screen font
public net.minecraft.data.recipes.RecipeProvider has(Lnet/minecraft/tags/TagKey;)Lnet/minecraft/advancements/critereon/InventoryChangeTrigger$TriggerInstance;
public net.minecraft.world.entity.Entity dimensions
public net.minecraft.world.level.NaturalSpawner$SpawnState canSpawnForCategory(Lnet/minecraft/world/entity/MobCategory;Lnet/minecraft/world/level/ChunkPos;)Z
public net.minecraft.world.entity.EntityType boatFactory(Ljava/util/function/Supplier;)Lnet/minecraft/world/entity/EntityType$EntityFactory;
public net.minecraft.world.entity.EntityType chestBoatFactory(Ljava/util/function/Supplier;)Lnet/minecraft/world/entity/EntityType$EntityFactory;
protected net.minecraft.data.recipes.ShapedRecipeBuilder ensureValid(Lnet/minecraft/resources/ResourceKey;)Lnet/minecraft/world/item/crafting/ShapedRecipePattern; # ensureValid
public net.minecraft.client.gui.GuiGraphicsExtractor bufferSource # bufferSource
protected net.minecraft.data.recipes.ShapelessRecipeBuilder ensureValid(Lnet/minecraft/resources/ResourceKey;)Lnet/minecraft/world/item/crafting/ShapedRecipePattern; # ensureValid
public net.minecraft.client.renderer.LevelRenderer renderEntities(Lcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/client/renderer/MultiBufferSource$BufferSource;Lnet/minecraft/client/Camera;Lnet/minecraft/client/DeltaTracker;Ljava/util/List;)V # renderEntities
public net.minecraft.client.renderer.LevelRenderer renderEntity(Lnet/minecraft/world/entity/Entity;DDDFLcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/client/renderer/MultiBufferSource;)V # renderEntity
public net.minecraft.client.renderer.LevelRenderer visibleEntities # visibleEntities
public net.minecraft.client.renderer.GameRenderer resourcePool # resourcePool
public net.minecraft.client.renderer.MultiBufferSource$BufferSource fixedBuffers
public net.minecraft.client.renderer.MultiBufferSource$BufferSource sharedBuffer
public net.minecraft.client.renderer.RenderStateShard name # name
public net.minecraft.client.gui.GuiGraphicsExtractor blitTiledSprite(Ljava/util/function/Function;Lnet/minecraft/client/renderer/texture/TextureAtlasSprite;IIIIIIIIIII)V # blitTiledSprite
public net.minecraft.client.gui.GuiGraphicsExtractor guiSprites # sprites
public net.minecraft.world.item.Item$Properties components # components
public net.minecraft.core.component.DataComponentMap$Builder map # map
public net.minecraft.world.item.crafting.RecipePropertySet create(Ljava/util/Collection;)Lnet/minecraft/world/item/crafting/RecipePropertySet; # create
public-f net.minecraft.world.item.AxeItem STRIPPABLES # STRIPPABLES
public net.minecraft.client.gui.screens.achievement.StatsScreen SLOT_SPRITE
public net.minecraft.client.gui.screens.achievement.StatsScreen HEADER_SPRITE
public net.minecraft.client.gui.screens.achievement.StatsScreen SORT_UP_SPRITE
public net.minecraft.client.gui.screens.achievement.StatsScreen SORT_DOWN_SPRITE
public net.minecraft.client.gui.screens.achievement.StatsScreen NO_VALUE_DISPLAY
public net.minecraft.client.data.AtlasProvider storeAtlas(Lnet/minecraft/data/CachedOutput;Lnet/minecraft/resources/ResourceLocation;Ljava/util/List;)Ljava/util/concurrent/CompletableFuture; # storeAtlas
public net.minecraft.client.data.AtlasProvider simpleMapper(Lnet/minecraft/client/renderer/MaterialMapper;)Ljava/util/List; # simpleMapper
public net.minecraft.data.BlockFamilies familyBuilder(Lnet/minecraft/world/level/block/Block;)Lnet/minecraft/data/BlockFamily$Builder; # familyBuilder
public net.minecraft.client.resources.language.LanguageManager DEFAULT_LANGUAGE # DEFAULT_LANGUAGE

protected net.minecraft.data.recipes.ShapedRecipeBuilder result #result
protected net.minecraft.data.recipes.ShapedRecipeBuilder count #count
protected net.minecraft.data.recipes.ShapedRecipeBuilder pattern #pattern
protected net.minecraft.data.recipes.ShapedRecipeBuilder advancementBuilder #advancementBuilder
protected net.minecraft.data.recipes.ShapedRecipeBuilder group #group
protected net.minecraft.data.recipes.ShapedRecipeBuilder validate(Lnet/minecraft/resources/ResourceLocation;)V #validate
protected net.minecraft.data.recipes.ShapelessRecipeBuilder advancementBuilder #advancementBuilder
protected net.minecraft.data.recipes.ShapelessRecipeBuilder result #result
protected net.minecraft.data.recipes.ShapelessRecipeBuilder count #count
protected net.minecraft.data.recipes.ShapelessRecipeBuilder group #group
protected net.minecraft.data.recipes.ShapelessRecipeBuilder ingredients #ingredients
protected net.minecraft.data.recipes.ShapelessRecipeBuilder validate(Lnet/minecraft/resources/ResourceLocation;)V #validate
public net.minecraft.data.recipes.ShapedRecipeBuilder criteria
public net.minecraft.data.recipes.ShapedRecipeBuilder ensureValid(Lnet/minecraft/resources/ResourceLocation;)Lnet/minecraft/world/item/crafting/ShapedRecipePattern;
public net.minecraft.data.recipes.ShapedRecipeBuilder showNotification
public net.minecraft.data.recipes.ShapedRecipeBuilder category
public net.minecraft.data.recipes.ShapelessRecipeBuilder ensureValid(Lnet/minecraft/resources/ResourceLocation;)V
public net.minecraft.data.recipes.ShapelessRecipeBuilder criteria
public net.minecraft.data.recipes.ShapelessRecipeBuilder category
protected net.minecraft.world.item.enchantment.DamageEnchantment targets
protected net.minecraft.world.entity.ai.goal.RangedCrossbowAttackGoal mob
protected net.minecraft.world.entity.ai.goal.RangedCrossbowAttackGoal seeTime
protected net.minecraft.world.entity.ai.goal.RangedCrossbowAttackGoal attackRadiusSqr
protected net.minecraft.world.entity.ai.goal.RangedCrossbowAttackGoal attackDelay
protected net.minecraft.world.entity.ai.goal.RangedCrossbowAttackGoal updatePathDelay
protected net.minecraft.world.entity.ai.goal.RangedCrossbowAttackGoal speedModifier
protected net.minecraft.world.entity.ai.goal.RangedCrossbowAttackGoal crossbowState
protected net.minecraft.world.entity.ai.goal.RangedCrossbowAttackGoal canRun()Z
protected net.minecraft.world.inventory.AbstractContainerMenu remoteSlots
public net.minecraft.world.item.enchantment.EnchantmentHelper runIterationOnItem(Lnet/minecraft/world/item/ItemStack;Lnet/minecraft/world/item/enchantment/EnchantmentHelper$EnchantmentVisitor;)V
public net.minecraft.world.item.enchantment.Enchantment modifyItemFilteredCount(Lnet/minecraft/core/component/DataComponentType;Lnet/minecraft/server/level/ServerLevel;ILnet/minecraft/world/item/ItemStack;Lorg/apache/commons/lang3/mutable/MutableFloat;)V
public net.minecraft.data.models.BlockModelGenerators createBooleanModelDispatch(Lnet/minecraft/world/level/block/state/properties/BooleanProperty;Lnet/minecraft/resources/ResourceLocation;Lnet/minecraft/resources/ResourceLocation;)Lnet/minecraft/data/models/blockstates/PropertyDispatch;
public net.minecraft.world.item.ItemStack addModifierTooltip(Ljava/util/function/Consumer;Lnet/minecraft/world/entity/player/Player;Lnet/minecraft/core/Holder;Lnet/minecraft/world/entity/ai/attributes/AttributeModifier;)V

public net.minecraft.client.renderer.entity.layers.HumanoidArmorLayer getArmorModel(Lnet/minecraft/client/renderer/entity/state/HumanoidRenderState;Lnet/minecraft/world/entity/EquipmentSlot;)Lnet/minecraft/client/model/HumanoidModel; # getArmorModel
protected-f net.minecraft.client.renderer.entity.AgeableMobRenderer adultModel
protected-f net.minecraft.client.renderer.entity.AgeableMobRenderer babyModel
public net.minecraft.client.renderer.rendertype.RenderTypes createMovingBlockSetup(Lcom/mojang/blaze3d/pipeline/RenderPipeline;Z)Lnet/minecraft/client/renderer/rendertype/RenderSetup;
public net.minecraft.world.level.block.FireBlock setFlammable(Lnet/minecraft/world/level/block/Block;II)V
public net.minecraft.data.recipes.RecipeUnlockAdvancementBuilder criteria
protected net.minecraft.data.recipes.ShapelessRecipeBuilder <init>(Lnet/minecraft/core/HolderGetter;Lnet/minecraft/data/recipes/RecipeCategory;Lnet/minecraft/world/item/ItemStackTemplate;)V
protected net.minecraft.world.entity.npc.villager.Villager BRAIN_PROVIDER
public net.minecraft.world.entity.ai.Brain$Provider sensorTypes
public net.minecraft.world.entity.ai.Brain$Provider activities
protected net.minecraft.data.recipes.ShapedRecipeBuilder <init>(Lnet/minecraft/core/HolderGetter;Lnet/minecraft/data/recipes/RecipeCategory;Lnet/minecraft/world/item/ItemStackTemplate;)V
public net.minecraft.world.level.levelgen.NoiseRouterData getFunction(Lnet/minecraft/core/HolderGetter;Lnet/minecraft/resources/ResourceKey;)Lnet/minecraft/world/level/levelgen/DensityFunction;
public net.minecraft.world.level.levelgen.NoiseRouterData slideEnd(Lnet/minecraft/world/level/levelgen/DensityFunction;)Lnet/minecraft/world/level/levelgen/DensityFunction;
public net.minecraft.world.level.levelgen.NoiseRouterData slideEndLike(Lnet/minecraft/world/level/levelgen/DensityFunction;II)Lnet/minecraft/world/level/levelgen/DensityFunction;
public net.minecraft.world.level.levelgen.NoiseRouterData postProcess(Lnet/minecraft/world/level/levelgen/DensityFunction;)Lnet/minecraft/world/level/levelgen/DensityFunction;
public net.minecraft.world.level.levelgen.NoiseRouterData SHIFT_X
public net.minecraft.world.level.levelgen.NoiseRouterData SHIFT_Z
public net.minecraft.client.gui.screens.inventory.tooltip.ClientBundleTooltip extractProgressbar(IILnet/minecraft/client/gui/Font;Lnet/minecraft/client/gui/GuiGraphicsExtractor;Lorg/apache/commons/lang3/math/Fraction;)V
public net.minecraft.client.gui.screens.inventory.tooltip.ClientBundleTooltip getEmptyBundleBackgroundHeight(Lnet/minecraft/client/gui/Font;)I
public net.minecraft.client.gui.screens.inventory.tooltip.ClientBundleTooltip getEmptyBundleDescriptionTextHeight(Lnet/minecraft/client/gui/Font;)I
public net.minecraft.client.renderer.feature.FlameFeatureRenderer fireVertex(Lcom/mojang/blaze3d/vertex/PoseStack$Pose;Lcom/mojang/blaze3d/vertex/VertexConsumer;FFFFFI)V