build/
.classpath
.project
.gradle/
.settings/
bin/
build.bat
/bin
Thumbs.db
*.bak
config/
saves/
logs/
options.txt
usernamecache.json
screenshots/
crash-reports/*
banned-ips.json
banned-players.json
eula.txt
ops.json
server.properties
usercache.json
whitelist.json
world*