build/
.classpath
.project
.gradle/
.settings/
bin/
build.bat
/bin
Thumbs.db
*.bak
Vampirism.iml
.settings

#Minecraft run files. Incase someone configured it wrong or differently
config/
saves/
logs/
options.txt
usernamecache.json
crash-reports/*
banned-ips.json
banned-players.json
eula.txt
ops.json
server.properties
usercache.json
whitelist.json
world*
hs*
