build/
.classpath
.project
.gradle/
.settings/
bin/
build.bat
/bin
Thumbs.db
*.bak
Vampirism.iml
.settings
.settings/*
org.eclipse.jdt.core.prefs

#Minecraft run files. Incase someone configured it wrong or differently
saves/
logs/
options.txt
usernamecache.json
crash-reports/*
banned-ips.json
banned-players.json
eula.txt
ops.json
server.properties
usercache.json
whitelist.json
hs*
.directory
