sudo: required
dist: trusty

language: java
jdk:
  - oraclejdk8

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
  - rm -f  $HOME/.gradle/caches/minecraft/deobfedDeps/providedDummy.jar
  - rm -f  $HOME/.gradle/caches/minecraft/deobfedDeps/compileDummy.jar
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
branches:
  except:
    - 1.13
before_install: chmod +x gradlew
install:
  - ./gradlew setupCIWorkspace -S
script:
  - ./gradlew build

notifications:
  email:
    recipients:
      - vampirism@maxanier.de
    on_success: never
    on_failure: change
  irc:
    channels:
      - "irc.esper.net#vampirism"
    on_success: always
    on_failure: always
    skip_join: true
    template:
      - "%{repository_slug}#%{build_number} (%{branch} - %{commit}): %{message}"
