public net.minecraft.world.food.FoodData f_38698_ # foodExhaustionLevel

public net.minecraft.world.entity.animal.Sheep f_29800_ # WOOL_BY_COLOR
public net.minecraft.world.entity.ai.goal.GoalSelector f_25345_ # goals
public net.minecraft.client.particle.ParticleEngine f_107296_ # atlas
public net.minecraft.world.entity.Entity f_19816_ # eyeHeight
public net.minecraft.world.entity.SpawnPlacements m_21754_(Lnet/minecraft/world/entity/EntityType;Lnet/minecraft/world/entity/SpawnPlacements$Type;Lnet/minecraft/world/level/levelgen/Heightmap$Types;Lnet/minecraft/world/entity/SpawnPlacements$SpawnPredicate;)V # register
public net.minecraft.world.storage.loot.LootTables func_186375_a(Lnet/minecraft/util/ResourceLocation;)Lnet/minecraft/util/ResourceLocation; # register
public net.minecraft.world.entity.Entity f_19815_ # size
public net.minecraft.world.entity.ai.navigation.GroundPathNavigation f_26446_ # shouldAvoidSun
public net.minecraft.world.entity.ai.goal.MeleeAttackGoal f_25543_ # path
protected net.minecraft.world.inventory.AbstractFurnaceMenu f_38955_ # furnaceInventory
protected net.minecraft.world.inventory.AbstractContainerMenu f_38841_ # inventoryItemStacks
public net.minecraft.block.Block$Properties func_200946_b()Lnet/minecraft/block/Block$Properties; # zeroHardnessAndResistance
public net.minecraft.world.level.block.entity.SkullBlockEntity f_59755_ # profileCache
public net.minecraft.world.level.block.entity.SkullBlockEntity f_59756_ # sessionService
public net.minecraft.world.entity.LivingEntity f_20945_ # activePotionsMap
public net.minecraft.world.entity.ai.goal.target.NearestAttackableTargetGoal f_26048_ # targetClass
public net.minecraft.world.entity.player.Abilities f_35939_ # flySpeed

##for getting village structure
public net.minecraft.world.level.levelgen.feature.StructureFeature func_202364_a(Lnet/minecraft/world/IWorld;Lnet/minecraft/util/math/BlockPos;Z)Lnet/minecraft/world/gen/feature/structure/StructureStart; # getStart

##override in ConvertedVillager
protected net.minecraft.world.entity.npc.Villager m_35424_(Lnet/minecraft/world/entity/ai/Brain;)V # initBrain

##registering of PointOfInterestType
public net.minecraft.world.entity.ai.village.poi.PoiType m_27367_(Lnet/minecraft/world/entity/ai/village/poi/PoiType;)Lnet/minecraft/world/entity/ai/village/poi/PoiType; # func_221052_a

##village trades
public net.minecraft.world.entity.npc.VillagerTrades$ItemsForEmeralds
public net.minecraft.world.entity.npc.VillagerTrades$EmeraldForItems

public net.minecraft.world.entity.npc.VillagerProfession <init>(Ljava/lang/String;Lnet/minecraft/village/PointOfInterestType;Lcom/google/common/collect/ImmutableSet;Lcom/google/common/collect/ImmutableSet;Lnet/minecraft/util/SoundEvent;)V
public net.minecraft.world.entity.ai.village.poi.PoiType <init>(Ljava/lang/String;Ljava/util/Set;II)V
public net.minecraft.world.entity.ai.village.poi.PoiType <init>(Ljava/lang/String;Ljava/util/Set;ILjava/util/function/Predicate;I)V

##allow for adding custom JigsawPieces to existing JigsawPattern
public net.minecraft.world.level.levelgen.feature.structures.StructureTemplatePool f_69250_ # jigsawPieces
public-f net.minecraft.world.level.levelgen.feature.structures.StructureTemplatePool f_69249_ # field_214952_d
public net.minecraft.world.level.levelgen.structure.pools.StructureTemplatePool f_210560_ # templates
public-f net.minecraft.world.level.levelgen.structure.pools.StructureTemplatePool f_210559_ # rawTemplates

public net.minecraft.world.level.levelgen.feature.structures.JigsawPlacement$Placer

public-f net.minecraft.data.advancements.AdvancementProvider f_123963_ # advancements
public net.minecraft.client.gui.screens.Screen font # font

##recipe generator stuff
protected net.minecraft.data.recipes.ShapedRecipeBuilder f_126106_ #result
protected net.minecraft.data.recipes.ShapedRecipeBuilder f_126107_ #count
protected net.minecraft.data.recipes.ShapedRecipeBuilder f_126108_ #pattern
protected net.minecraft.data.recipes.ShapedRecipeBuilder f_126109_ #key
protected net.minecraft.data.recipes.ShapedRecipeBuilder f_126110_ #advancementBuilder
protected net.minecraft.data.recipes.ShapedRecipeBuilder f_126111_ #group
protected net.minecraft.data.recipes.ShapedRecipeBuilder m_126143_(Lnet/minecraft/resources/ResourceLocation;)V #validate
protected net.minecraft.data.recipes.ShapelessRecipeBuilder f_126176_ #advancementBuilder
protected net.minecraft.data.recipes.ShapelessRecipeBuilder f_126173_ #result
protected net.minecraft.data.recipes.ShapelessRecipeBuilder f_126174_ #count
protected net.minecraft.data.recipes.ShapelessRecipeBuilder f_126177_ #group
protected net.minecraft.data.recipes.ShapelessRecipeBuilder f_126175_ #ingredients
protected net.minecraft.data.recipes.ShapelessRecipeBuilder m_126207_(Lnet/minecraft/resources/ResourceLocation;)V #validate

public net.minecraft.client.gui.screens.recipebook.RecipeBookComponent f_100280_ #currentTab
public net.minecraft.client.gui.screens.recipebook.RecipeBookComponent f_100281_ #searchBar

public net.minecraft.world.level.NaturalSpawner$SpawnState m_47134_(Lnet/minecraft/world/entity/MobCategory;)Z #func_234991_a_
public net.minecraft.client.gui.screens.Screen f_96547_ #field_230712_o_

## RuleEntry
protected net.minecraft.world.level.levelgen.structure.templatesystem.ProcessorRule f_74216_ #inputPredicate
protected net.minecraft.world.level.levelgen.structure.templatesystem.ProcessorRule f_74217_ #locationPredicate
protected net.minecraft.world.level.levelgen.structure.templatesystem.ProcessorRule f_74219_ #outputState
protected net.minecraft.world.level.levelgen.structure.templatesystem.ProcessorRule f_74220_ #outputNbt

#structure
public net.minecraft.world.level.levelgen.feature.StructureFeature f_67032_ #field_236385_u_
public-f net.minecraft.world.level.levelgen.StructureSettings f_64580_ #field_236191_b_

# 1.16.2
public net.minecraft.client.gui.screens.recipebook.RecipeBookComponent m_100382_(Z)V # updateCollections
public net.minecraft.client.gui.screens.recipebook.RecipeBookComponent f_100283_ #recipeBook
public net.minecraft.client.gui.screens.recipebook.RecipeBookComponent f_100285_ #stackedContents
public net.minecraft.client.gui.screens.recipebook.RecipeBookComponent f_100284_ #recipeBookPage
public net.minecraft.world.entity.Mob m_21424_(Lnet/minecraft/world/entity/player/Player;Lnet/minecraft/world/item/ItemStack;Lnet/minecraft/world/item/ItemStack;)V #func_233655_a_
public net.minecraft.world.entity.ai.village.poi.PoiType f_27352_ #BLOCKS_OF_INTEREST

##villager sensor
protected net.minecraft.world.entity.npc.Villager f_35367_ #MEMORY_TYPES
protected net.minecraft.world.entity.npc.Villager f_35368_ #SENSOR_TYPES
protected net.minecraft.world.entity.ai.sensing.VillagerHostilesSensor f_26842_ #field_220991_b

public net.minecraft.world.level.block.FireBlock m_53444_(Lnet/minecraft/world/level/block/Block;II)V #setFireInfo
public net.minecraft.world.level.block.Blocks m_50788_(Lnet/minecraft/world/level/material/MaterialColor;Lnet/minecraft/world/level/material/MaterialColor;)Lnet/minecraft/world/level/block/RotatedPillarBlock; #createLogBlock

public net.minecraft.world.entity.ai.targeting.TargetingConditions <init>(Z)V # TargetingConditions
public net.minecraft.world.scores.criteria.ObjectiveCriteria m_166113_(Ljava/lang/String;)Lnet/minecraft/world/scores/criteria/ObjectiveCriteria; # registerCustom

public net.minecraft.world.level.levelgen.feature.StructurePieceType m_191145_(Lnet/minecraft/world/level/levelgen/feature/StructurePieceType$ContextlessType;Ljava/lang/String;)Lnet/minecraft/world/level/levelgen/feature/StructurePieceType; # setPieceId
public net.minecraft.world.level.NaturalSpawner$SpawnState m_186548_(Lnet/minecraft/world/entity/MobCategory;Lnet/minecraft/world/level/ChunkPos;)Z # canSpawnForCategory

public net.minecraft.world.level.block.SpreadingSnowyDirtBlock m_56823_(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/LevelReader;Lnet/minecraft/core/BlockPos;)Z # canBeGrass
public net.minecraft.world.level.block.SpreadingSnowyDirtBlock m_56827_(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/LevelReader;Lnet/minecraft/core/BlockPos;)Z # canPropagate

public net.minecraft.block.FireBlock func_180686_a(Lnet/minecraft/block/Block;II)V #setFireInfo
public net.minecraft.block.Blocks func_235430_a_(Lnet/minecraft/block/material/MaterialColor;Lnet/minecraft/block/material/MaterialColor;)Lnet/minecraft/block/RotatedPillarBlock; #createLogBlock
protected net.minecraft.client.gui.screens.inventory.AbstractContainerScreen m_97774_(Lnet/minecraft/world/inventory/Slot;DD)Z # isHovering
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen f_97711_ # draggingItem

public net.minecraft.data.recipes.RecipeProvider m_206406_(Lnet/minecraft/tags/TagKey;)Lnet/minecraft/advancements/critereon/InventoryChangeTrigger$TriggerInstance; # has

public net.minecraft.world.level.levelgen.SurfaceRules$SurfaceRule
public net.minecraft.world.level.levelgen.SurfaceRules$Context
public net.minecraft.world.level.levelgen.structure.pools.JigsawPlacement$Placer

public net.minecraft.data.worldgen.Structures m_236545_(Lnet/minecraft/tags/TagKey;Ljava/util/Map;Lnet/minecraft/world/level/levelgen/GenerationStep$Decoration;Lnet/minecraft/world/level/levelgen/structure/TerrainAdjustment;)Lnet/minecraft/world/level/levelgen/structure/Structure$StructureSettings; # structure
public net.minecraft.data.worldgen.Structures m_236538_(Lnet/minecraft/tags/TagKey;Lnet/minecraft/world/level/levelgen/GenerationStep$Decoration;Lnet/minecraft/world/level/levelgen/structure/TerrainAdjustment;)Lnet/minecraft/world/level/levelgen/structure/Structure$StructureSettings; # structure
public net.minecraft.data.worldgen.Structures m_236542_(Lnet/minecraft/tags/TagKey;Lnet/minecraft/world/level/levelgen/structure/TerrainAdjustment;)Lnet/minecraft/world/level/levelgen/structure/Structure$StructureSettings; # structure
public net.minecraft.commands.synchronization.ArgumentTypeInfos m_235386_(Lnet/minecraft/core/Registry;Ljava/lang/String;Ljava/lang/Class;Lnet/minecraft/commands/synchronization/ArgumentTypeInfo;)Lnet/minecraft/commands/synchronization/ArgumentTypeInfo; # register

public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity m_222692_(Lnet/minecraft/world/level/Level;Lnet/minecraft/world/level/block/entity/AbstractFurnaceBlockEntity;)I # getTotalCookTime
public net.minecraft.client.gui.screens.inventory.EffectRenderingInventoryScreen m_194000_(Lnet/minecraft/world/effect/MobEffectInstance;)Lnet/minecraft/network/chat/Component; # getEffectName

public net.minecraft.world.entity.ai.sensing.VillagerHostilesSensor m_26867_(Lnet/minecraft/world/entity/LivingEntity;)Z # isHostile
public net.minecraft.world.entity.ai.sensing.VillagerHostilesSensor m_26860_(Lnet/minecraft/world/entity/LivingEntity;Lnet/minecraft/world/entity/LivingEntity;)Z # isClose

public net.minecraft.data.worldgen.placement.OrePlacements m_195343_(ILnet/minecraft/world/level/levelgen/placement/PlacementModifier;)Ljava/util/List; # commonOrePlacement
public net.minecraft.data.worldgen.placement.OrePlacements m_195349_(ILnet/minecraft/world/level/levelgen/placement/PlacementModifier;)Ljava/util/List; # rareOrePlacement

public net.minecraft.data.BlockFamilies m_175935_(Lnet/minecraft/world/level/block/Block;)Lnet/minecraft/data/BlockFamily$Builder; # familyBuilder

private-f net.minecraft.world.level.block.entity.BlockEntityType f_58915_ # validBlocks

public net.minecraft.client.gui.screens.advancements.AdvancementTabType
public net.minecraft.world.entity.Entity m_20272_(Lnet/minecraft/world/phys/Vec3;)Lnet/minecraft/world/phys/Vec3; # collide
public net.minecraft.client.Camera m_90568_(DDD)V # move

protected net.minecraft.data.RecipeProvider func_240473_b_(Ljava/util/function/Consumer;Lnet/minecraft/util/IItemProvider;Lnet/minecraft/util/IItemProvider;)V # woodenBoat
public net.minecraft.world.item.crafting.RecipeManager m_44054_(Lnet/minecraft/world/item/crafting/RecipeType;)Ljava/util/Map; # byType