name: Update API

on:
  push:
    branches:
      - ${{ github.event.repository.default_branch }}
    paths:
      - 'src/main/resources/supporters.json'
      - 'src/main/resources/config_values.json'

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Upload supporters
        uses: wei/curl@v1
        with:
          args: |
            -X 'POST' 'https://api.vampirism.dev/api/v0/supporter/set' -H 'x-api-key: ${{ secrets.VAMPIRISM_API }}' -H 'Content-Type: application/json' --upload-file src/main/resources/supporters.json
      - name: Upload settings
        uses: wei/curl@v1
        with:
          args: |
            -X 'POST' 'https://api.vampirism.dev/api/v1/config/set' -H 'x-api-key: ${{ secrets.VAMPIRISM_API }}' -H 'Content-Type: application/json' --upload-file src/main/resources/config_values.json
